.search-bar {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;

  transform: translateY(0);
  opacity: 1;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  padding: 40px 80px 16px;
  display: flex;
  align-items: flex-end;
  transition: transform 1s ease-in-out .3s, opacity .2s ease-in-out 0s;

  &.empty{
    height: fit-content;
    transform: translateY(232px);
  }
  &.loading{
    opacity: 0;
  }
  input, button {
    font-size: 16px;
    font-weight: 400;
    border-radius: 12px;
    outline: none;
    border: none;
    height: 48px;
  }

  input {
    margin-right: 8px;
    z-index: 1;
    padding-left: 36px;
    min-width: 420px;
    position: relative;
    background-color: #EEEEEE;
    background-image: url("./../../../src/assets/search.svg");
    background-repeat: no-repeat;
    background-position: 9px center;
    background-size: 20px 19px;
    -webkit-appearance: textfield;

    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      appearance: none;
      transition: opacity .2s linear;
      height: 19px;
      width: 19px;
      margin-right: 9px;
      background-image: url("./../../assets/input-clear.svg");
      background-size: 19px 19px;
      cursor: pointer;
    }
    &::placeholder {
      color: #9C9C9C;
    }
  }

  button {
    width: 82px;
    background-color: #EB0C0C;
    color: #FFFFFF;
    border-radius: 12px;
    padding: 14.5px 16px;
    cursor: pointer;
    transition: border-radius .3s linear;

    &:hover {
      border-radius: 16px;
    }
  }
}


@media (max-width: 768px) {
  .search-bar {
    padding: 16px;
    height: fit-content;
    transition: transform .4s ease-in-out 0s;

    &.empty{
      height: auto;
    }

    input {
      flex: 1 1 0;
      min-width: 0;
    }
  }

}